svg {
    position: absolute;
    left: 0;
    cursor: -webkit-grab;
    height: 100%;
    width: 100%;
    color: #333
}

.node {
    cursor: pointer
}

.node text.root {
    font-size: 32px
}

.node text {
    display: none;
    fill: #fff;
    font-weight: 200;
    text-anchor: middle;
    z-index: 1000;
    text-shadow: 1px 1px #333, -1px 1px #333, 1px -1px #333, -1px -1px #333
}

.node.active {
    opacity: 1
}

.node.active.selected text,
.node.active:hover text {
    display: block
}

defs #arrow path {
    stroke: #CCC;
    stroke-opacity: .2;
    fill: #CCC;
    opacity: 1
}

.edge text {
    stroke-width: 0
}

.edge .edge-handler {
    fill: none;
    stroke: none
}

.edge .edge-line {
    fill: none
}

.edge.active text {
    display: none;
    fill: #fff;
    font-weight: 200;
    text-anchor: middle;
    text-shadow: 1px 1px #333, -1px 1px #333, 1px -1px #333, -1px -1px #333;
    z-index: 1000
}

.edge.active.selected,
.edge.active:hover {
    cursor: pointer
}

.edge.active.highlight text,
.edge.active.selected text,
.edge.active:hover text {
    display: block
}

#zoom-controls {
    background-color: transparent;
    background-image: url(images/maze-black.png);
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 0 5px rgba(255, 255, 255, .3);
    margin-top: 10%;
    z-index: 5;
    position: relative;
    display: block;
    width: 55px
}

#zoom-controls #zoom-in,
#zoom-controls #zoom-out,
#zoom-controls #zoom-reset {
    padding: 12px;
    margin: 0;
    width: 100%
}

#zoom-controls #zoom-in i,
#zoom-controls #zoom-out i,
#zoom-controls #zoom-reset i {
    color: #E89619
}

#zoom-controls #zoom-in:hover,
#zoom-controls #zoom-out:hover,
#zoom-controls #zoom-reset:hover {
    background-color: rgba(255, 255, 255, .2)
}

#zoom-controls #zoom-in:active,
#zoom-controls #zoom-out:active,
#zoom-controls #zoom-reset:active {
    border: 0
}